@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center container-color">
    <h1 class="display-4"></h1>
    <h3>KUDOS TO</h3>
    <pre>

    @Html.Raw("@@@@@@@      @@@@@@@@     @@@@@@@@")
    @Html.Raw("@@@@@@@@     @@@@@@@@     @@@@@@@@")
    @Html.Raw("@@    @@     @@    @@     @@    @@")
    @Html.Raw("@@    @@     @@    @@     @@      ")
    @Html.Raw("@@@@@@@      @@    @@       @@@@  ")
    @Html.Raw("@@@@@@@      @@    @@         @@@@")
    @Html.Raw("@@    @@     @@    @@           @@")
    @Html.Raw("@@    @@     @@    @@     @@    @@")
    @Html.Raw("@@@@@@@@     @@@@@@@@     @@@@@@@@")
    @Html.Raw("@@@@@@@      @@@@@@@@     @@@@@@@@")

    </pre>
    <h3>ENGINEERS!</h3>
</div>
